<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= meta.title ? meta.title + ' | ' : '' %>Michael Miriti</title>
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="/prism.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Mono" rel="stylesheet">
    <script src="/prism.js"></script>
  </head>
  <body>
    <header class="container mx-auto px-4 sm:px-6 lg:px-8 pt-2">
      <div>$ <a href="/" class="!no-underline !text-black !font-bold">Michael Miriti</a> (programmer): <a href="https://github.com/miriti" target="_blank">GitHub</a> <a href="https://twitter.com/michael_miriti" target="_blank">Twitter</a> <a href="https://www.youtube.com/@MichaelRecreationalCoder" target="_blank">YouTube</a></div>
    </header>
    <hr class="my-2">
    <div class="container mx-auto px-4 sm:px-6 lg:px-8">